// Define variables for your color scheme

// For example:
$blue:		#2b88ff;
$yellow: 	#ffd400;
$white: 	#ffffff;
$purple: 	#474350;
$green: 	#41d3bd;
$ivory: 	#fffff2;



$red: #F04242;
$orange: #E67E22;
$gray: #F8F8F8;
$light-gray: #FFFEFC;
