
.particles-js-canvas-el {
	position: absolute;
	z-index: -999;
	top: 0;
	height: 800px !important;
}

.main-search-bar{
	display:grid;
    grid-template-columns: 2fr 3.5fr 2fr;
    grid-template-areas: ". home-component .";
    margin-top: 4em;
    height:70vh;
}

.home-component{
	grid-area: home-component;
	align-self: center;
	justify-self: center;
	margin-bottom: 4em;
}

.underline--magical {
  background-image: linear-gradient(120deg, $blue 0%, #78b3ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}



.home-component h1 {
	font-family: 'Montserrat', sans-serif;
	color: #010101;
	font-weight: 600;
	text-align: center;
	font-size: 42px;

}
::-webkit-placeholder {

	color: lighten(#fefefe, 30%);

}

.home-form{
      margin-top: 3em;
     .query{
		display:inline-block;
		width:70%;
		padding: 1em;
		input {
            border:1px solid #b9b9b9;
			border-radius: 0px;
			padding: 0.8em;
			text-align:center;
	    }
	}
	.btn{
		display:inline-block;
		width:20%;
		position: relative;
		left: -5px;
		top: -1px;
		background-color: $blue;
		border-radius: 0px;
	    padding: 1em;
	}
}

.quick-info{
	display:flex;
    border: 1px solid #dddddd;
    border-top: 10px solid #f9f9f9;
    text-align:center;
    margin: 3em 0;
 }

.quick-info-components h3{
	 color: $blue;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 0 1em;
    font-size: 24px;

}

.quick-info-components {
	padding: 2em;


	&:nth-child(2) {
		border-left:  1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	p {
		width: 80%;
		margin: 0 auto;
		font-weight: 300;
		color: $gray;
	}

}

.caricatures {
	display:grid;
    grid-template-columns: 5%  45% 45% 5%;
    grid-template-rows: auto;
    grid-template-areas: ". text img-container .";
	margin-top: 4em;
	height: 60vh;
   .home-text-button{
   	grid-area: text;
   	margin-top:4em;
    padding:1em;

    h2{
      color: black;
    }
    p{
     color:#343941 ;
     font-size: 19px;
     font-weight: 300;
    }
    a{
    	text-decoration:none;
    	color:#343941;
    	font-size: 24px;
    }
    .underline--magical{

     	text-decoration: none;
      
    }
   }
   .img-container{
   	margin-top: 4em;
	grid-area: img-container;
    position: absolute;
    right:0px;
    height: 100%;
    width: 50%;
  .img-1{
  	position: absolute;
    width: 90%;
  }

 }

}


.caricatures-2 {
	display:grid;
    grid-template-columns: 5%  45% 45% 5%;
    grid-template-rows: auto;
    grid-template-areas: ". img-container text .";
	margin-top: 4em;
	background-color:$blue;
	padding-bottom: 40px;

   .home-text-button{
   	grid-area: text;
    padding:1em;
    margin-top:4em;

    h2{
    	color: white;
    }
    p{
     color: $gray;
     font-size: 19px;
     
    }
    a{
    	text-decoration:none;
    	color:white;
    	font-size: 24px;
    }
    .underline--magical{
    background-image: linear-gradient(120deg, $yellow 0%, $yellow 100%);
     	
    }
   }
   .home-image{
   	margin-top:4em;
	  grid-area: img-container;
    height: 100%;
    width: 50%;
   }

}
