.particles-js-canvas-el {
	position: absolute;
	z-index: -999;
	top: 0;
	height: 500px !important;
}

.main-search-bar{
	display:grid;
    grid-template-columns: 2fr 3.5fr 2fr;	
    grid-template-areas: ". home-component .";
    margin-top: 4em;
}

.home-component{
	grid-area: home-component;
	align-self: center;
	justify-self: center;
	margin-bottom: 4em;
}


.home-component h1 {
	font-family: 'Montserrat', sans-serif;
	color: #010101;
	font-weight: 600;
	text-align: center;
	font-size: 42px;

}
::-webkit-placeholder {

	color: lighten(#fefefe, 30%);

}

.home-form{
	margin-top: 3em;
	.search_query{
		display:inline-block;
		width:70%;
		input {
			border:1px solid #b9b9b9;
			border-radius: 0px;
			padding: 0.8em;
			text-align:center;
	    }
	}
	.btn{
		display:inline-block;
		width:20%;
		position: relative;
		left: -10px;
		top: -1px;
		background-color: #2b88ff;
		border-radius: 0px;
	    padding: 0.8em;
	}
}

.quick-info{
	display:flex;
    border: 1px solid #dddddd;
    border-top: 10px solid #f9f9f9;
    text-align:center;
    margin: 3em 0;
 }

.quick-info-components h3{
	color: #2b88ff;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 0 1em;
    font-size: 24px;

}

.quick-info-components {
	padding: 2em;


	&:nth-child(2) {
		border-left:  1px solid #ccc;
		border-right: 1px solid #ccc;
	}   

	p { 
		width: 80%; 
		margin: 0 auto;
		font-weight: 300;
		color: #888;
	}

}

.caricatures {
	display:flex;
	justify-content: space-around;
	margin-top: 4em;
   .home-text-button{
    padding:2em;
    font-family: "Montserrat";
    font-weight: 300;
    p{
     color: #666;
    }
    .btn{
    	font-size: 2em;
    	padding: .5em 1em;
    }
   }

}





