<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%#= simple_form_for @livemessage, url: event_livemessage_path(@event), method: :put do |f|  %>
      <%#= f.input :description %>
      <%#= f.submit "send", class: "btn btn-primary" %>
      <%# end %>
     </div>
  </div>
</div>
 -->