<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>

  <div>
    <br>
    <p style="text-align: center;"> Slive © 2017 </p>
  </div>

  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> by the Indian Mafia Family
  </div>
</div>
