<!-- THIS PARTIAL NEEDS A VARIABLE FROM OTHER VIEWS -->
<% events.each do |event| %>
<div class="card">
  <div class="card-description">
    <h3> <%= event.date %> - <%= link_to event.name, event_path(event)%> </h3>
    <% if event.presentation && event.presentation.slides.count > 0 %>
    <div class="card-img">
      <p> <%= cl_image_tag(event.presentation.slides.first.photo.url, height: 300, width: 300, crop: :fill) %> </p>
    </div>
    <% end %>
  </div>
</div>
<% end %>
