<div>
  <h2>Number of participants :  <%= @participants.count %> </h2>
  <% @participants.each do |p| %>
    <p> Name :- <%= p.full_name  %> </p>
    <p> Emal :- <%= p.email %> </p>
  <% end %>
</div>
