<div class="container">
  <br>
  <br>
  <h2>Number of participants :  <%= @participants.count %> </h2>
  <ul class="list">
    <% @participants.each do |p| %>
    <br>
    <li>
      <p> <%= p.full_name  %> </p>
      <p> contact : <%= p.email %></p>
    </li>

      <% end %>
  </ul>
</div>
