<div class="banner">
  <div class="banner-content text-center">
    <h1>Enter the Event !</h1>
    <br>
    <form action="<%= register_path %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
      <input type="text" placeholder="Session token" name="token">
      <input type="submit" value="Join">
    </form>
  </div>
</div>
