
<div id="particles-js"></div>

<div class="main-search-bar">
	<div class="home-component">
		<h1>
			Create your event <br> and tell them: <span class="underline--magical">it'Slive.</span>
		</h1>
		<form action= "<%=register_path%>" method = "post" class="home-form">
			<input type="hidden" name="authenticity_token" value= "<%=form_authenticity_token%>">
			<input type="text" placeholder="Enter your event token" name="token" class= "query">
			<input type="submit" value="Join" class= "btn btn-primary">
		</form>
	</div>
</div>


<div class="caricatures">
	<div class="home-text-button">
	<br><br>
		<h2>TRULY INTERACTIVE <span class="underline--magical">PRESENTATIONS</span></h2>
		<br>
	  <p>Slive is a powerful tool designed to help presenter make the most out of his presentation.It allows you to create user interactions during a presentation without breaking the flow of your presentation.It's a blessing.</p>
	  <span><%= link_to "GET STARTED", new_event_path, class: "underline--magical" %></span>
	</div>
	<div class="img-container">
    <%= image_tag "home-image.png", class: "img-1" %>
	</div>

</div>

<div class="caricatures-2">
	
	<div class="home-text-button-1">
		<h2>MAKE REAL TIME <span class="underline--magical">SURVEYS</span></h2>
		<br>
	  <p>Slive helps you get real time surveys from the whole room. It facilitates a bunch of other interactive activities - like push information snippets or collect questions and doubts at the end of your presentation.</p>
	</div>
	
	<div class="home-text-button-2">
		<h2> NEVER MISS ANOTHER QUESTION.</h2>
		<br>
	  <p>The audience can ask all their doubts or questions which goes to a dedicated section, this way you can keep going with the presentation without breaking the flow and still answer everyone in your own time.</p>
	</div>
</div>
