
<div id="particles-js"></div>

<div class="main-search-bar">
	<div class="home-component">
		<h1>
			Create your event <br> and tell them: <span class="underline--magical">it'Slive.</span>
		</h1>
		<form action= "<%=register_path%>" method = "post" class="home-form">
			<input type="hidden" name="authenticity_token" value= "<%=form_authenticity_token%>">
			<input type="text" placeholder="Whats your event name?" name="token" class= "query">
			<input type="submit" value="Join" class= "btn btn-primary">
		</form>	
	</div>
</div>

<div class="quick-info">
	<div class="quick-info-components">
		<h3>
			Create your event right now
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae recusandae doloribus fugiat amet. 
		</p>
	</div>
	<div class="quick-info-components">
		<h3>
			Interact with your audience 
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae recusandae doloribus fugiat amet. 
		</p>
	</div>
	<div class="quick-info-components">
		<h3>
			Gather valuable data 
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae recusandae doloribus fugiat amet. 
		</p>
	</div>
</div>


<div class="caricatures">
	<div class="home-image">
		<%= image_tag "home-image.png" %>
	</div>
	<div class="home-text-button">
		<h2>Slive is where user interactivity is happening</h2>
		<br>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eius tempore non sit rem reprehenderit modi eligendi sunt natus nihil iusto eveniet hic neque atque esse ullam odio tempora animi!</p>
	  <%= link_to "Get started", "#", class: 'btn btn-primary' %>
	</div>
</div>