<h1>Please enter the Event ID</h1>
<form action="<%= register_path %>" method="post" >
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="text" placeholder="Enter the ID" name="token">
  <input type="submit" value="submit">
</form>
