.page-title{
	color: black !important;
	font-family: 'Montserrat', sans-serif;
	width: 80%;
	margin: 0 auto;
	margin-top: 5em;

}

.page-subtitle{
	font-family: 'Open-sans', sans-serif;
	font-weight: 300;
	color: #929292;
	font-size: 21px;
	width: 80%;
	margin: 0 auto;
}
.event-new{
	font-family: 'Open-sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin: 0 auto;
	margin-top: 2em;
	box-shadow: 0 0 1px #999;
	padding: 2.5em 4em;
	background-color: #F8F8F8;
	color: #929292;
	width: 80%;

	#new_event,label, input{
		display:block;
		width: 100%;
		border-radius: 0;
	}
	.time_date{
		display:flex;
		#time{
			margin-left: 4em;
		}
	}
	.button-flex{
		display:flex;
	}

	.submit-event{
		display:flex;
        justify-content: space-between;
        padding:0px;
        height: 6em;
   	}
	

    .btn{
	    background-color: $green;
		color: $white;
		border-radius: 0 !important;
	  }  
    
	
}


