.page-title{
	color: black !important;
	font-family: 'Montserrat', sans-serif;
	width: 80%;
	margin: 0 auto;
	margin-top: 5em;

}

.page-subtitle{
	font-family: 'Open-sans', sans-serif;
	font-weight: 300;
	color: #929292;
	font-size: 21px;
	width: 80%;
	margin: 0 auto;
}
.event-new{
	font-family: 'Open-sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin: 0 auto;
	margin-top: 2em;
	box-shadow: 0 0 1px #999;
	padding: 2.5em 4em;
	background-color: #F8F8F8;
	color: #929292;
	width: 80%;
	position:relative;

	#new_event,label, input{
		display:block;
		width: 100%;
		border-radius: 0;

	}
	.time_date{
		display:flex;
		#time{
			margin-left: 4em;
		}
	}
}
.createbtn{
		text-shadow: 1px 0 0 $green;
		box-shadow:1px 0 0 #F8F8F8;
    	position: absolute !important;
    	right:0 !important;
    	bottom: 0 !important;
    	width: 8em !important;
    	height:3.3em !important;
	    background-color: $green;
		color: $white;
		border-radius: 0 !important;
}  


