.event-description,.event-address,.event-date-time{
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 2em;
  width: 80%;
  color: #747474;
   strong{
    color: #3A3A3A;
   }
   img{
    background-color:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    opacity:1;
    margin-right: 7px;
    display:inline-block;
   }
   i{
    color: #747474;
    margin-right: 7px;
    display:inline-block;
   }
}

.event-upload-slides{
  position: relative;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 auto;
  align-content: center;
  margin-top: 2em;
  box-shadow: 0 0 1px #999;
  padding: 2.5em 4em;
  background-color: #F8F8F8;
  color: #929292;
  width: 80%;

  a{
    text-decoration: none;
    margin: 0 auto;
    margin-top: 5em;
    color: #929292;
  }
  span{
    a{
      color: white;
      justify-content: center;
    }
    height: 2.3em;
    width: 9em;
    padding-top: 5px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background-color: #519CFD;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #519CFD;
}

.carousel-control-prev-icon {
  margin-right: 130px;
}

.carousel-control-next-icon {
  margin-left: 130px;
}


.page-title{
 display: flex;
 font-family: 'Open sans', sans-serif;
 justify-content: space-between;
 text-align: center;
  span{
    font-size:2em;
  }
  a{
    text-decoration: none;
  }
}
.page-subtitle-flex{
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  color: #929292;
  font-size: 21px;
  width: 80%;
  margin: 0 auto;
  display: flex;
 font-family: 'Open sans', sans-serif;
 justify-content: space-between;
 text-align: center;
  .participants-subtitle{
    margin-left: 150px;
  }
  .surveys-subtitle{
    margin-right: 22px;
  }

}
