.live-components{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-template-areas:
		"name name name"
		"slider slider options"
		"slider slider feed"
		"about about feed";
	


	.live-headings {
		grid-area: name;
	}
	
	.pdf-slide {
		grid-area: slider;
		align-self: start;

    }
    .survey {
    	height: 20vh;
    	overflow: auto;
    	grid-area: options;
	}
    .interactive-chat{
    	grid-area: feed;

    }
    .about-us{
    	grid-area: about;

    }
}
