<div class="abcd">

  <div class="first-header">
    <h2>Events you created:</h2><br><br>
    <%= render "events/show_created_events", events: current_user.created_events  %>
  </div>

  <div class="second-header">
    <h2>Events you attended:</h2><br><br>
    <%= render "participated_events_partial", events: current_user.events %>
  </div>
</div>
