.wrapper-nav{
  display:flex;
  justify-content: space-between;
}
.important-buttons{

      margin-right: 1em;
      margin-top: 1.7em;
}
.background-blue {
  background-color: $blue;
  a{
    color:white;
  }
  .menu-icon__line{
      background-color:white;
    &:before,
    &:after {
      background-color:white;
    }
  }  
}


.logo{
  padding: 1em;
  // margin-left: 16%;
}

.login {
  display:flex;
 	margin-right: 5%;
 	font-family: 'Montserrat', sans-serif;
 	color: white;
 	font-weight: 400;
}

.menu-icon {
	margin-top: 2em;
    width: 2.5rem;
    height: 1.5rem;
    display: inline-block;
    cursor: pointer;
}


.menu-icon__line {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #2b88ff;
    display: block;

    &:before,
    &:after {
        content: '';
        width: 1.5rem;
        height: 0.2rem;
        background-color: #2b88ff;
        display: inline-block;
        position: relative;
    }

    &:before {
        left: 0.5rem;
        top: -0.6rem;
    }

    &:after {
        top: -1.8rem;

  }
}

.log-in{
  margin-top: 2em;
  a{
    text-decoration: none;
    font-family: 'Montserrat' , sans-serif;
    font-size: 300;
  }
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;


}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
