.wrapper-nav{
  display:flex;
  justify-content: space-between;
}

body {
  background: image-url("bg-login.png");
  background-position: 135% top;
  background-repeat: no-repeat; 

}

.login {

 margin-right: 5%;
 font-family: 'Montserrat', sans-serif;
 color: white;
 font-weight: 400;
 }